.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  overflow-x: hidden;

  .app-left {
    width: 17%;
    min-height: 100vh;
    background: #38507a;
    transition: 0.3s ease-in-out;
    border-radius: 0px 25px 25px 0;

    .Sadibar {
      .Sadibar-header {
        padding: 0 3%;
        margin-top: 1.5vh;
        padding-bottom: 1vh;
        width: 100%;

        a {
          color: black;
          text-decoration: none;

          .brand-title {
            display: flex;
            align-items: flex-start;
            padding-left: 10px;

            img {
              width: 80px;
              height: 80px;
              border-radius: 50%;
              object-fit: cover;
              transition: 0.3s ease-in-out;
            }
          }
        }
      }

      .Sadibar-body {
        padding: 0 3%;
        padding-top: 3vh;
        ul {
          li {
            margin: 5px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 10px;

            a {
              display: flex;
              width: 100%;
              align-items: center;
              color: white;
              font-size: 14px;
              opacity: 0.6;
              &:hover {
                color: white;
                opacity: 1;
                span {
                  svg {
                    opacity: 1;
                  }
                }
              }

              .none {
                opacity: 0.6;
                margin: 3px;
              }

              span {
                &:nth-child(1) {
                  width: 40px;
                  height: 40px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 50%;
                  color: white;
                  margin-right: 5px;

                  svg {
                    font-size: 25px;
                    &:hover {
                      color: white;
                      opacity: 1;
                    }
                  }
                }
              }
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .app-right {
    width: 82%;
    min-height: 100vh;
    transition: 0.3s ease-in-out;
    padding: 0 1%;
    padding-top: 1vh;

    .navbar {
      width: 100%;
      height: 80px;
      padding: 0 1%;
      background-color: #f8f9fc;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 15px;

      // border-left: 0.1rem solid white;
      .brand {
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
          color: #1c3156;
        }

        .menu-bars {
          border: none;
          background-color: transparent;
          font-size: 25px;
          margin-right: 20px;
          color: #1c3156;

          svg {
            cursor: pointer;
            color: #1c3156;
          }

          &:focus {
            outline: none;
          }
        }
      }

      .log-out {
        display: flex;
        list-style-type: none;
        font-size: 20px;
        color: #1c3156;

        svg {
          margin-left: 10px;
          cursor: pointer;
          font-size: 25px;
          color: #1c3156;
        }
      }
    }

    .app-right-container {
    }
    .footer{
      width: 100%;
      height: 80px;
      padding: 0 1%;
      background-color: #f8f9fc;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 15px;
      margin: 1.5vh 0 ;
    }
  }

  .app-right-active {
    width: 96%;
  }

  .active {
    width: 5%;
    .Sadibar {
      .Sadibar-header {
        a {
          .brand-title {
            img {
              width: 43px;
              height: 43px;
              border-radius: 50%;
              margin-top: 2vh;
            }
          }
        }
      }
    }

    .none {
      // transform: scale(0) translateX(100px);
      display: none;
    }
  }
}
