.teacher-list {
  margin-top: 1.5vh;
}

.teacher-list .teacher-header {
  width: 100%;
  height: 60px;
  background-color: #f8f9fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px 15px 0 0;
  padding: 0 1%;
}

.teacher-list .teacher-header .teacher-header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teacher-list .teacher-header .teacher-header-left .nav-item {
  position: relative;
  background: white;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 10px 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 10px;
  border: 2px solid transparent;
  cursor: pointer;
}

.teacher-list .teacher-header .teacher-header-left .nav-item:nth-child(1):hover {
  background: white;
  color: #1e9bff;
  border: 2px solid #1e9bff;
}

.teacher-list .teacher-header .teacher-header-left .nav-item:nth-child(1):hover i::before {
  width: 20px;
  left: 20%;
}

.teacher-list .teacher-header .teacher-header-left .nav-item:nth-child(1):hover i::after {
  width: 20px;
  left: 80%;
}

.teacher-list .teacher-header .teacher-header-left .nav-item:nth-child(1) i {
  position: absolute;
  inset: 0;
  display: block;
}

.teacher-list .teacher-header .teacher-header-left .nav-item:nth-child(1) i::before {
  content: '';
  position: absolute;
  top: -5.5px;
  left: 80%;
  width: 10px;
  height: 5px;
  border: 2px solid #1e9bff;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.teacher-list .teacher-header .teacher-header-left .nav-item:nth-child(1) i::after {
  content: '';
  position: absolute;
  bottom: -5.5px;
  left: 20%;
  width: 10px;
  height: 5px;
  border: 2px solid #1e9bff;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.teacher-list .teacher-header .teacher-header-left .nav-item:nth-child(2):hover {
  background: white;
  color: #e3d10e;
  border: 2px solid #e3d10e;
}

.teacher-list .teacher-header .teacher-header-left .nav-item:nth-child(2):hover i::before {
  width: 20px;
  left: 20%;
}

.teacher-list .teacher-header .teacher-header-left .nav-item:nth-child(2):hover i::after {
  width: 20px;
  left: 80%;
}

.teacher-list .teacher-header .teacher-header-left .nav-item:nth-child(2) i {
  position: absolute;
  inset: 0;
  display: block;
}

.teacher-list .teacher-header .teacher-header-left .nav-item:nth-child(2) i::before {
  content: '';
  position: absolute;
  top: -5.5px;
  left: 80%;
  width: 10px;
  height: 5px;
  border: 2px solid #e3d10e;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.teacher-list .teacher-header .teacher-header-left .nav-item:nth-child(2) i::after {
  content: '';
  position: absolute;
  bottom: -5.5px;
  left: 20%;
  width: 10px;
  height: 5px;
  border: 2px solid #e3d10e;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.teacher-list .teacher-header .teacher-header-left .nav-item:nth-child(3):hover {
  background: white;
  color: #11a80f;
  border: 2px solid #11a80f;
}

.teacher-list .teacher-header .teacher-header-left .nav-item:nth-child(3):hover i::before {
  width: 20px;
  left: 20%;
}

.teacher-list .teacher-header .teacher-header-left .nav-item:nth-child(3):hover i::after {
  width: 20px;
  left: 80%;
}

.teacher-list .teacher-header .teacher-header-left .nav-item:nth-child(3) i {
  position: absolute;
  inset: 0;
  display: block;
}

.teacher-list .teacher-header .teacher-header-left .nav-item:nth-child(3) i::before {
  content: '';
  position: absolute;
  top: -5.5px;
  left: 80%;
  width: 10px;
  height: 5px;
  border: 2px solid #11a80f;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.teacher-list .teacher-header .teacher-header-left .nav-item:nth-child(3) i::after {
  content: '';
  position: absolute;
  bottom: -5.5px;
  left: 20%;
  width: 10px;
  height: 5px;
  border: 2px solid #11a80f;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.teacher-list .teacher-header .teacher-header-left .nav-item::before {
  content: '';
  position: absolute;
  inset: 2px;
  background: transparent;
}

.teacher-list .teacher-header .teacher-header-left .nav-item span {
  position: relative;
  z-index: 1;
}

.teacher-list .teacher-header .teacher-header-right .search {
  position: relative;
}

.teacher-list .teacher-header .teacher-header-right .search .input {
  background-color: #fff;
  border: 0;
  font-size: 16px;
  padding: 10px;
  height: 30px;
  width: 30px;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.teacher-list .teacher-header .teacher-header-right .search .input:focus {
  outline: none;
}

.teacher-list .teacher-header .teacher-header-right .search .btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.teacher-list .teacher-header .teacher-header-right .search .btn:focus {
  outline: none;
}

.teacher-list .teacher-header .teacher-header-right .active .input {
  width: 200px !important;
}

.teacher-list .teacher-header .teacher-header-right .active .btn {
  -webkit-transform: translateX(171px) !important;
          transform: translateX(171px) !important;
}

.student-list {
  background-color: #fffefe;
}

.student-list .student-header {
  width: 100%;
  height: 60px;
  background-color: #f8f9fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1%;
  border-radius: 15px 15px 0 0;
  margin-top: 1.5vh;
}

.student-list .student-header .student-header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.student-list .student-header .student-header-left .nav-item {
  position: relative;
  background: white;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 10px 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 10px;
  border: 2px solid transparent;
  cursor: pointer;
}

.student-list .student-header .student-header-left .nav-item:nth-child(1):hover {
  background: white;
  color: #1e9bff;
  border: 2px solid #1e9bff;
}

.student-list .student-header .student-header-left .nav-item:nth-child(1):hover i::before {
  width: 20px;
  left: 20%;
}

.student-list .student-header .student-header-left .nav-item:nth-child(1):hover i::after {
  width: 20px;
  left: 80%;
}

.student-list .student-header .student-header-left .nav-item:nth-child(1) i {
  position: absolute;
  inset: 0;
  display: block;
}

.student-list .student-header .student-header-left .nav-item:nth-child(1) i::before {
  content: '';
  position: absolute;
  top: -5.5px;
  left: 80%;
  width: 10px;
  height: 5px;
  border: 2px solid #1e9bff;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.student-list .student-header .student-header-left .nav-item:nth-child(1) i::after {
  content: '';
  position: absolute;
  bottom: -5.5px;
  left: 20%;
  width: 10px;
  height: 5px;
  border: 2px solid #1e9bff;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.student-list .student-header .student-header-left .nav-item:nth-child(2):hover {
  background: white;
  color: #e3d10e;
  border: 2px solid #e3d10e;
}

.student-list .student-header .student-header-left .nav-item:nth-child(2):hover i::before {
  width: 20px;
  left: 20%;
}

.student-list .student-header .student-header-left .nav-item:nth-child(2):hover i::after {
  width: 20px;
  left: 80%;
}

.student-list .student-header .student-header-left .nav-item:nth-child(2) i {
  position: absolute;
  inset: 0;
  display: block;
}

.student-list .student-header .student-header-left .nav-item:nth-child(2) i::before {
  content: '';
  position: absolute;
  top: -5.5px;
  left: 80%;
  width: 10px;
  height: 5px;
  border: 2px solid #e3d10e;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.student-list .student-header .student-header-left .nav-item:nth-child(2) i::after {
  content: '';
  position: absolute;
  bottom: -5.5px;
  left: 20%;
  width: 10px;
  height: 5px;
  border: 2px solid #e3d10e;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.student-list .student-header .student-header-left .nav-item:nth-child(3):hover {
  background: white;
  color: #11a80f;
  border: 2px solid #11a80f;
}

.student-list .student-header .student-header-left .nav-item:nth-child(3):hover i::before {
  width: 20px;
  left: 20%;
}

.student-list .student-header .student-header-left .nav-item:nth-child(3):hover i::after {
  width: 20px;
  left: 80%;
}

.student-list .student-header .student-header-left .nav-item:nth-child(3) i {
  position: absolute;
  inset: 0;
  display: block;
}

.student-list .student-header .student-header-left .nav-item:nth-child(3) i::before {
  content: '';
  position: absolute;
  top: -5.5px;
  left: 80%;
  width: 10px;
  height: 5px;
  border: 2px solid #11a80f;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.student-list .student-header .student-header-left .nav-item:nth-child(3) i::after {
  content: '';
  position: absolute;
  bottom: -5.5px;
  left: 20%;
  width: 10px;
  height: 5px;
  border: 2px solid #11a80f;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.student-list .student-header .student-header-left .nav-item::before {
  content: '';
  position: absolute;
  inset: 2px;
  background: transparent;
}

.student-list .student-header .student-header-left .nav-item span {
  position: relative;
  z-index: 1;
}

.student-list .student-header .student-header-right .search {
  position: relative;
}

.student-list .student-header .student-header-right .search .input {
  background-color: #fff;
  border: 0;
  font-size: 16px;
  padding: 10px;
  height: 30px;
  width: 30px;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.student-list .student-header .student-header-right .search .input:focus {
  outline: none;
}

.student-list .student-header .student-header-right .search .btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.student-list .student-header .student-header-right .search .btn:focus {
  outline: none;
}

.student-list .student-header .student-header-right .active .input {
  width: 200px !important;
}

.student-list .student-header .student-header-right .active .btn {
  -webkit-transform: translateX(171px) !important;
          transform: translateX(171px) !important;
}

.group-list {
  background-color: #fffefe;
}

.group-list .group-header {
  margin-top: 1.5vh;
  width: 100%;
  height: 60px;
  background-color: #f8f9fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1%;
  border-radius: 15px 15px 0 0;
}

.group-list .group-header .group-header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.group-list .group-header .group-header-left .nav-item {
  position: relative;
  background: white;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 10px 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 10px;
  border: 2px solid transparent;
  cursor: pointer;
}

.group-list .group-header .group-header-left .nav-item:nth-child(1):hover {
  background: white;
  color: #1e9bff;
  border: 2px solid #1e9bff;
}

.group-list .group-header .group-header-left .nav-item:nth-child(1):hover i::before {
  width: 20px;
  left: 20%;
}

.group-list .group-header .group-header-left .nav-item:nth-child(1):hover i::after {
  width: 20px;
  left: 80%;
}

.group-list .group-header .group-header-left .nav-item:nth-child(1) i {
  position: absolute;
  inset: 0;
  display: block;
}

.group-list .group-header .group-header-left .nav-item:nth-child(1) i::before {
  content: '';
  position: absolute;
  top: -5.5px;
  left: 80%;
  width: 10px;
  height: 5px;
  border: 2px solid #1e9bff;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.group-list .group-header .group-header-left .nav-item:nth-child(1) i::after {
  content: '';
  position: absolute;
  bottom: -5.5px;
  left: 20%;
  width: 10px;
  height: 5px;
  border: 2px solid #1e9bff;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.group-list .group-header .group-header-left .nav-item:nth-child(2):hover {
  background: white;
  color: #e3d10e;
  border: 2px solid #e3d10e;
}

.group-list .group-header .group-header-left .nav-item:nth-child(2):hover i::before {
  width: 20px;
  left: 20%;
}

.group-list .group-header .group-header-left .nav-item:nth-child(2):hover i::after {
  width: 20px;
  left: 80%;
}

.group-list .group-header .group-header-left .nav-item:nth-child(2) i {
  position: absolute;
  inset: 0;
  display: block;
}

.group-list .group-header .group-header-left .nav-item:nth-child(2) i::before {
  content: '';
  position: absolute;
  top: -5.5px;
  left: 80%;
  width: 10px;
  height: 5px;
  border: 2px solid #e3d10e;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.group-list .group-header .group-header-left .nav-item:nth-child(2) i::after {
  content: '';
  position: absolute;
  bottom: -5.5px;
  left: 20%;
  width: 10px;
  height: 5px;
  border: 2px solid #e3d10e;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.group-list .group-header .group-header-left .nav-item:nth-child(3):hover {
  background: white;
  color: #11a80f;
  border: 2px solid #11a80f;
}

.group-list .group-header .group-header-left .nav-item:nth-child(3):hover i::before {
  width: 20px;
  left: 20%;
}

.group-list .group-header .group-header-left .nav-item:nth-child(3):hover i::after {
  width: 20px;
  left: 80%;
}

.group-list .group-header .group-header-left .nav-item:nth-child(3) i {
  position: absolute;
  inset: 0;
  display: block;
}

.group-list .group-header .group-header-left .nav-item:nth-child(3) i::before {
  content: '';
  position: absolute;
  top: -5.5px;
  left: 80%;
  width: 10px;
  height: 5px;
  border: 2px solid #11a80f;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.group-list .group-header .group-header-left .nav-item:nth-child(3) i::after {
  content: '';
  position: absolute;
  bottom: -5.5px;
  left: 20%;
  width: 10px;
  height: 5px;
  border: 2px solid #11a80f;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.group-list .group-header .group-header-left .nav-item::before {
  content: '';
  position: absolute;
  inset: 2px;
  background: transparent;
}

.group-list .group-header .group-header-left .nav-item span {
  position: relative;
  z-index: 1;
}

.group-list .group-header .group-header-right .search {
  position: relative;
}

.group-list .group-header .group-header-right .search .input {
  background-color: #fff;
  border: 0;
  font-size: 16px;
  padding: 10px;
  height: 30px;
  width: 30px;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.group-list .group-header .group-header-right .search .input:focus {
  outline: none;
}

.group-list .group-header .group-header-right .search .btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.group-list .group-header .group-header-right .search .btn:focus {
  outline: none;
}

.group-list .group-header .group-header-right .active .input {
  width: 200px !important;
}

.group-list .group-header .group-header-right .active .btn {
  -webkit-transform: translateX(171px) !important;
          transform: translateX(171px) !important;
}

.reception-list {
  margin-top: 1.5vh;
}

.reception-list .teacher-header {
  width: 100%;
  height: 60px;
  background-color: #f8f9fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px 15px 0 0;
  padding: 0 1%;
}

.reception-list .teacher-header .teacher-header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reception-list .teacher-header .teacher-header-left .nav-item {
  position: relative;
  background: white;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 10px 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 10px;
  border: 2px solid transparent;
  cursor: pointer;
}

.reception-list .teacher-header .teacher-header-left .nav-item:nth-child(1):hover {
  background: white;
  color: #1e9bff;
  border: 2px solid #1e9bff;
}

.reception-list .teacher-header .teacher-header-left .nav-item:nth-child(1):hover i::before {
  width: 20px;
  left: 20%;
}

.reception-list .teacher-header .teacher-header-left .nav-item:nth-child(1):hover i::after {
  width: 20px;
  left: 80%;
}

.reception-list .teacher-header .teacher-header-left .nav-item:nth-child(1) i {
  position: absolute;
  inset: 0;
  display: block;
}

.reception-list .teacher-header .teacher-header-left .nav-item:nth-child(1) i::before {
  content: '';
  position: absolute;
  top: -5.5px;
  left: 80%;
  width: 10px;
  height: 5px;
  border: 2px solid #1e9bff;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.reception-list .teacher-header .teacher-header-left .nav-item:nth-child(1) i::after {
  content: '';
  position: absolute;
  bottom: -5.5px;
  left: 20%;
  width: 10px;
  height: 5px;
  border: 2px solid #1e9bff;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.reception-list .teacher-header .teacher-header-left .nav-item:nth-child(2):hover {
  background: white;
  color: #e3d10e;
  border: 2px solid #e3d10e;
}

.reception-list .teacher-header .teacher-header-left .nav-item:nth-child(2):hover i::before {
  width: 20px;
  left: 20%;
}

.reception-list .teacher-header .teacher-header-left .nav-item:nth-child(2):hover i::after {
  width: 20px;
  left: 80%;
}

.reception-list .teacher-header .teacher-header-left .nav-item:nth-child(2) i {
  position: absolute;
  inset: 0;
  display: block;
}

.reception-list .teacher-header .teacher-header-left .nav-item:nth-child(2) i::before {
  content: '';
  position: absolute;
  top: -5.5px;
  left: 80%;
  width: 10px;
  height: 5px;
  border: 2px solid #e3d10e;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.reception-list .teacher-header .teacher-header-left .nav-item:nth-child(2) i::after {
  content: '';
  position: absolute;
  bottom: -5.5px;
  left: 20%;
  width: 10px;
  height: 5px;
  border: 2px solid #e3d10e;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.reception-list .teacher-header .teacher-header-left .nav-item:nth-child(3):hover {
  background: white;
  color: #11a80f;
  border: 2px solid #11a80f;
}

.reception-list .teacher-header .teacher-header-left .nav-item:nth-child(3):hover i::before {
  width: 20px;
  left: 20%;
}

.reception-list .teacher-header .teacher-header-left .nav-item:nth-child(3):hover i::after {
  width: 20px;
  left: 80%;
}

.reception-list .teacher-header .teacher-header-left .nav-item:nth-child(3) i {
  position: absolute;
  inset: 0;
  display: block;
}

.reception-list .teacher-header .teacher-header-left .nav-item:nth-child(3) i::before {
  content: '';
  position: absolute;
  top: -5.5px;
  left: 80%;
  width: 10px;
  height: 5px;
  border: 2px solid #11a80f;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.reception-list .teacher-header .teacher-header-left .nav-item:nth-child(3) i::after {
  content: '';
  position: absolute;
  bottom: -5.5px;
  left: 20%;
  width: 10px;
  height: 5px;
  border: 2px solid #11a80f;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.reception-list .teacher-header .teacher-header-left .nav-item::before {
  content: '';
  position: absolute;
  inset: 2px;
  background: transparent;
}

.reception-list .teacher-header .teacher-header-left .nav-item span {
  position: relative;
  z-index: 1;
}

.reception-list .teacher-header .teacher-header-right .search {
  position: relative;
}

.reception-list .teacher-header .teacher-header-right .search .input {
  background-color: #fff;
  border: 0;
  font-size: 16px;
  padding: 10px;
  height: 30px;
  width: 30px;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.reception-list .teacher-header .teacher-header-right .search .input:focus {
  outline: none;
}

.reception-list .teacher-header .teacher-header-right .search .btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reception-list .teacher-header .teacher-header-right .search .btn:focus {
  outline: none;
}

.reception-list .teacher-header .teacher-header-right .active .input {
  width: 200px !important;
}

.reception-list .teacher-header .teacher-header-right .active .btn {
  -webkit-transform: translateX(171px) !important;
          transform: translateX(171px) !important;
}

.page_inputs {
  /* reset input */
}

.page_inputs .form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 20px;
  width: 100%;
}

.page_inputs .form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #9b9b9b;
  padding: 7px 0;
  background: transparent;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.page_inputs .form__field::-webkit-input-placeholder {
  color: transparent;
}

.page_inputs .form__field:-ms-input-placeholder {
  color: transparent;
}

.page_inputs .form__field::-ms-input-placeholder {
  color: transparent;
}

.page_inputs .form__field::placeholder {
  color: transparent;
}

.page_inputs .form__field:placeholder-shown ~ .form__label {
  font-size: 1rem;
  cursor: text;
  top: 20px;
}

.page_inputs .form__field:focus {
  color: #11998e;
}

.page_inputs .form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 0.8rem;
  color: #9b9b9b;
}

.page_inputs .form__field:focus {
  padding-bottom: 6px;
  font-weight: 500;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, #11998e, #38ef7d);
     border-image: -webkit-gradient(linear, left top, right top, from(#11998e), to(#38ef7d));
     border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}

.page_inputs .form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 0.8rem;
  color: #11998e;
  font-weight: 500;
}
/*# sourceMappingURL=CopStyle.css.map */